/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


&mt {
    tapping-term-ms = <100>;
};


// Layer aliases
#define ENGRAM 0
#define NUMS 1
#define FUNC 2
#define MOUSE 3
#define SYM 4
#define TOOLS 5




//ENGRAM
#define LC_A &mt LCTRL A
#define LC_H &mt LCTRL H
#define LA_E &mt LALT E
#define LA_T &mt LALT T
#define LAY_C &lt MOUSE C
#define LAY_I &lt FUNC I
#define LAY_B &lt TOOLS B
#define LAY_V &lt TOOLS V



/ {
        keymap {
                compatible = "zmk,keymap";



                default_layer {  // layer 1 
                        label = "ENGRAM";
                        bindings = <
//   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
&none     LAY_B         &kp Y         &kp O         &kp U        &kp SQT            &kp Q         &kp L         &kp D         &kp W         LAY_V     &none
//   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
&none     LAY_C         LAY_I          LA_E         LC_A        &kp COMMA           &kp Z         LC_H           LA_T         &kp S         &kp N     &none
//   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
&none     &kp G         &kp X         &kp J         &kp K        &kp DOT          &kp MINUS       &kp R         &kp M         &kp F         &kp P     &none
//   ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                      &none     &lt NUMS TAB   &mt LSFT RET    &lt NUMS SPACE  &lt SYM BSPC     &none 
//                               ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };



                num_layer {
                        label = "NUMS";
                        bindings = <
//   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
&none   &kp TILDE     &kp AMPS      &kp STAR      &kp PIPE      &kp EQUAL          &kp PLUS       &kp N7        &kp N8       &kp N9       &kp FSLH    &none
//   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
&none   &kp COLON     &kp DLLR      &kp PRCNT     &kp CARET     &kp QMARK          &kp DOT        &kp N4        &kp N5       &kp N6       &kp MINUS   &none
//   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
&none   &kp BSPC      &kp EXCL       &kp AT       &kp HASH       &kp DEL           &kp N0         &kp N1        &kp N2       &kp N3       &kp STAR    &none
//   ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                      &trans        &trans        &trans           &trans      &lt SYM RET     &trans
//                               ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };



                func_layer {
                        label = "FUNC";
                        bindings = <
//   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
&none   &kp PSCRN      &kp F12       &sk LALT     &sk LCTL       &kp ESC            &none         &kp F7        &kp F8        &kp F9        &kp F12    &none
//   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
&none &kp LA(PSCRN)    &trans        &kp PGUP     &kp HOME        &none             &none         &kp F4        &kp F5        &kp F6        &kp F11    &none
//   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
&none     &none         &none        &kp PGDN     &kp END         &none             &none         &kp F1        &kp F2        &kp F3        &kp F10    &none
//   ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                      &none      &kp LA(TAB)     &kp LC(V)          &none         &none         &none       
//                               ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };



                mouse_layer {
                        label = "MOUSE";
                        bindings = <
//   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
&none     &none        &kp INS     &kp LS(INS)      &none        &kp ESC            &none         &none         &none         &none         &none      &none
//   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
&none     &trans      &kp LGUI     &kp LC(PGUP) &kp LC(LS(R))     &none             &none         &none         &none         &none         &none      &none
//   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
&none     &none       &kp CAPS     &kp LC(PGDN) &kp C_AC_BACK     &none             &none         &none         &none         &none         &none      &none
//   ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                      &none       &kp SPACE       &none             &none         &none         &none       
//                               ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };



                sym_layer {
                        label = "SYM";
                        bindings = <
//   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
&none   &sk LSHIFT      &none       &none          &none        &kp QUOT        &sk LS(LCTRL)    &sk LCTRL    &sk LALT    &sk LA(LCTRL)   &sk LSHIFT   &none
//   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
&none   &kp HOME      &kp PG_DN     &kp PG_UP      &kp END      &kp DQT             &none       &kp LEFT     &kp DOWN       &kp UP       &kp RIGHT    &none
//   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
&none    &kp LT        &kp LBRC     &kp LBKT       &kp LPRN      &kp BSLH          &kp FSLH      &kp RPRN      &kp RBKT     &kp RBRC      &kp GT       &none
//   ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                     &trans        &trans        &kp ESC            &trans        &trans        &trans       
//                               ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };



                tools_layer {
                        label = "TOOLS";
                        bindings = <
//   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
&none   &trans          &none       &none          &none         &none              &none         &none         &none      &kp C_MUTE      &trans     &none
//   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
&none  &to ENGRAM     &to NUMS      &none          &none         &none              &none         &none      &kp C_BRI_UP  &kp C_VOL_UP      &none     &none
//   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &bt BT_CLR       &none      &kp C_BRI_DN  &kp C_VOL_DN      &none     &none
//   ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                      &none         &none        &kp ESC             &none        &none         &none       
//                               ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };







/****** Original layers 

                lower_layer {  // layer 2
// -----------------------------------------------------------------------------------------
// | NONE |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | NONE |
// | NONE | BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     | NONE |
// | NONE |     |     |     |     |     |   |     |     |     |     |     | NONE |
//                    |     |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &none &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &none
   &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &none
   &none &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &trans &none
                          	        &trans     &trans       &kp SPACE      &kp RET  &trans   &kp RALT
                        >;
                };

                raise_layer {  // layer 3
// -----------------------------------------------------------------------------------------
// | NONE |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | NONE |
// | NONE |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  | NONE |
// | NONE |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" | NONE |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &none &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &none
   &none &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &none
   &none &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &none
                    	     &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };
Original layers ******/

        };
};
